/* ErrorNotification.scss */

.error-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff5757; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px; /* Adjust the maximum width as needed */
  }
  
  .error-notification p {
    margin: 0;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
  }
  
  .close-button:focus {
    outline: none;
  }
  