$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-phone: 48em;
$bp-smallest: 31.25em; // 500px

.launchpad {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  // position: relative;
  z-index: -100;

  .container {
    color: var(--color-white);
    padding: 3rem 5rem;
    width: 100%; // Ensures the container takes full width

    .row {
      display: flex;
      flex-wrap: wrap; // Ensures flex items wrap to the next line
      gap: 5rem;
      justify-content: center; // Centers the cards horizontally

      @media only screen and (max-width: $bp-large) {
        width: 100%; // Set width to 100% for large screens
      }

      @media only screen and (max-width: $bp-medium) {
        gap: 2rem;
      }

      @media only screen and (max-width: $bp-phone) {
        flex-direction: column; // Adjust to a column layout for smaller screens
        align-items: center; // Center items on smaller screens
      }
    }

    h1 {
      margin: 3rem 0;

      @media only screen and (max-width: $bp-medium) {
        text-align: center;
      }
    }
  }
}
