// Define your breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-phone: 48em;
$bp-smallest: 31.25em; // 500px

.launchpad {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
  z-index: -100;

  .container {
    color: var(--color-white);
    padding: 3rem 5rem;

    h1 {
      margin: 3rem 0;
      text-align: center;

      @media only screen and (max-width: $bp-medium) {
        margin-top: 2rem;
      }
    }

    // Custom Dropdown Styles
    .custom-dropdown {
      margin-bottom: 2rem;
      select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        font-size: 16px;
        width: 100%;
        outline: none;
        cursor: pointer;

        &:hover {
          border-color: #555;
        }
      }
    }

    .card-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 2rem;

      .card {
        width: calc(33.33% - 10px);
        margin-bottom: 20px;

        @media only screen and (max-width: $bp-medium) {
          width: calc(50% - 10px);
        }

        @media only screen and (max-width: $bp-small) {
          width: 100%;
        }
      }
    }
  }
}
